@model Pooshineh.Models.DiscountViewModel

@using (Html.BeginForm("ApplyDiscountCode", "Discounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container ms-lg-0" style="width:340px;">
        <div class="card discount_code my-4">
            <div class="card">
                <div class="card-body">
                    <div class="mt-3 w-75">
                        <input type="text" class="form-control w-100" placeholder="افزودن کد تخفیف" id="DiscountCode" name="DiscountCode" value="@Model.DiscountCode" />
                    </div>
                    <button class="btn btn-primary btn-sm mt-3" onclick="discount_code()">اعمال کد تخفیف</button>
                    @Html.ValidationMessageFor(model => model.DiscountCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        
}
