<head>
    <link href="~/Content/headfoot.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>


<header>
    <nav class="navbar navbar-expand-lg bg-white shadow p-md-2 navbar-fixed-top">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="~/Images/logo1-removebg-preview.png" alt="بوتیک"
                     class="logo rounded-5">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item mx-md-3 my-2">
                        <a class="nav-link active" aria-current="page" href="https://localhost:44334/Accounts/Index">خانه</a>
                    </li>
                    <li class="nav-item mx-md-3 my-2">
                        <a class="nav-link" href="#">داشبورد</a>
                    </li>
                    <li class="nav-item dropdown mx-md-3 my-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            محصولات
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a class="dropdown-item" href="#">تیشرت</a></li>
                                <li><a class="dropdown-item" href="#">تیشرت یقه گرد</a></li>
                                <li><a class="dropdown-item" href="#">تیشرت اسپرت</a></li>
                                <li><a class="dropdown-item" href="#">تیشرت آستین بلند</a></li>
                                <li><a class="dropdown-item" href="#">تیشرت لش</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">پیراهن</a></li>
                                <li><a class="dropdown-item" href="#">پیراهن رسمی</a></li>
                                <li><a class="dropdown-item" href="#">پیراهن نخی</a></li>
                                <li><a class="dropdown-item" href="#">پیراهن چهارخونه</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">شلوار</a></li>
                                <li><a class="dropdown-item" href="#">جین</a></li>
                                <li><a class="dropdown-item" href="#">کتان</a></li>
                                <li><a class="dropdown-item" href="#">پارچه‌ای</a></li>
                                <li><a class="dropdown-item" href="#">چریکی</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mx-md-3 my-2">
                        <a class="nav-link" href="#">درباره ما</a>
                    </li>
                </ul>

                <div class="text-center">
                    <a href="#"><svg class="mx-3 text-warning cart-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25c0-.05.01-.09.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2" /></svg></a>
                    <button class="btn px-4 my-2 my-md-0 me-md-3 loginButton">ورود</button>
                </div>
            </div>
        </div>
    </nav>
</header>

